.content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.section-header {
  font-size: 7vh;
  margin-left: 2vw;
}

.project-body {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  width: 100%;
  height: auto;
  justify-content: space-between;
}