.project-content {
  max-width: 45vw;
  min-width: 45vw;
  min-height: 14vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  animation-name: fadeIn;
  animation-duration: 1s;
}
.project-image-box {
  width: 100%;
  height: 20vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project-item {
  margin: 10px 5px 10px 5px;
  /* animation-name: topSlideIn;
  animation-duration: 2s; */
}

.project-title {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.project-description {
  font-style: 1em;
  line-height: 1.5em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes topSlideIn {
  0% {
    position: relative;
    top: -25%;
    opacity: 0;
  }

  50% {
    position: relative;
    top: 0;
    opacity: 1;
  }
}