.project-content {
  min-height: 14vh;
  display: flex;
  flex: 1 1 100vw;
  align-items: center;
  margin: 5px;
  animation-name: fadeIn;
  animation-duration: 1s;
  text-decoration: none;
  color: black;
}

.project-image-well {
  min-width: 40vw;
  margin-right: 10px;
  align-self: stretch;
}

@media only screen and (min-width : 1110px) {
  .project-content {
    flex: 0 0 45vw;
    flex-direction: column;
  }

  .project-description {
    font-size: 1.3em;
  }
}


.project-content:hover {
  transform: scale(1.05);
}

.project-image-box {
  width: 40vw;
  height: 40vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project-item {
  margin: 10px;
}

.project-title {
  font-size: 2.2em;
  font-weight: bold;
  text-decoration: none;
  color: black;
  text-align: center;
  margin: 5px;
}

.project-description {
  font-size: 1em;
  line-height: 1em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes topSlideIn {
  0% {
    position: relative;
    top: -25%;
    opacity: 0;
  }

  50% {
    position: relative;
    top: 0;
    opacity: 1;
  }
}