.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.App-header {
  top: 0;
  position: fixed;
  height: 20vh;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  z-index: 1;
}

.site-content {
  flex: 1;
  min-height: 80vh;
  margin-top: 20vh;
}